.container {
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-between;
  gap: 30px; 
  padding: 40px;
  background-color: #ffffff;
  border-radius: 8px;
}

.card {
  flex: 1;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  max-width: 100%; 
}

.cardPagador {
  border: 1px solid #f1c0c0; 
  display: flex;
  flex-direction: column;
  gap: 20px; 
  padding: 20px; 
  height: 100%;
}

.fieldGroup {
  display: flex;
  flex-direction: column; 
  padding: 15px; 
}

.cardPagador h2 {
  padding-bottom: 2px;
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.cardPagador .input {
  width: 100%;
  padding: 10px;
  border: 1px solid #f9f9f9;
  border-radius: 5px;
  background-color: #f9f9f9;
  font-size: 14px;
}

.cardPedido {
  border: 1px solid #e1a4a4; 
  background-color: #fff5f5; 
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  height: auto;
}

.cardContainer {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex: 1; 
}

.titulo {
  font-size: 25px;
  font-weight: bold;
  color: #c0392b;
  margin-bottom: 10px;
  text-align: center; 
  width: 100%;
}

.cardBody {
  display: flex;
  flex-direction: column;
  gap: 8px; 
}

.item {
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
  font-size: 16px;
  color: #000000;
  align-items: end;
}

.item span:last-child {
  display: flex;
  align-items: center;
  gap: 5px; 
}

.divider {
  border: 0;
  border-top: 1px solid #817979;
  margin: 10px 0;
}

.total {
  font-weight: bold;
  color: black;
  font-size: 18px;
}

.footer {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
/* 
.customButton {
  background-color: #EB6D6D !important;
  color: white !important;
  padding: 10px !important; 
  font-size: 18px !important; 
  border-radius: 10px !important;
  border: none !important;
  cursor: pointer !important;
  transition: transform 0.3s ease, background-color 0.3s ease !important;
  margin-top: 10px !important;
  width: 80%; 
  box-sizing: border-box; 
} */

.customButton:hover {
  transform: scale(1.02) !important;
  background-color: #d45a5a !important;
}


@media (max-width: 1024px) {
  .container {
    flex-direction: column;
    padding: 20px;
  }
  .card {
    margin-bottom: 20px;
  }
}

@media (max-width: 768px) {
  .header {
    font-size: 22px;
  }
  .item {
    font-size: 14px;
  }
  .total {
    font-size: 16px;
  }
  .customButton {
    font-size: 16px !important;
    width: 100%; 
  }
}

@media (max-width: 480px) {
  .container {
    padding: 10px;
  }
  .cardPagador h2, .cardPedido .header {
    font-size: 18px;
  }
  .cardPagador .input, .item, .total {
    font-size: 12px;
  }
  .customButton {
    font-size: 14px !important;
    padding: 8px !important;
  }
}
