.addresses {
    flex: 1;
  }
  
  .addressCard {
    border: 1px solid #e57373;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 15px;
    position: relative;
  }
  
  .addressCard p {
    margin: 5px 0;
  }
  
  .addressHeader {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .default {
    font-size: 0.8rem;
    color: #D57878;
  }

  .edit {
    position: absolute !important;
    bottom: 15px !important;
    right: 15px !important;
    background-color: #e57373 !important;
    color: white !important;
    padding: 5px 10px !important;
    border: none !important;
    border-radius: 4px !important;
    cursor: pointer !important;
  }