form {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 15px;
}

.btnAction {
    background-color: #eb6d6d !important;
    color: #fff !important;
    border-radius: 5px;
    padding: 12px 0;
}

form h1 {
    font-size: 34px;
    margin-bottom: 20px;
}

.passwordContainer{
    width: 100%;
}

.row {
    display: flex;
    gap: 10px;
    width: 100%;
    align-items: center;
}

.auxiliarInput{
    display: none;
}

.eyeBtn{
    margin-bottom: 10px;
}

@media(max-width: 400px){
    .row{
        flex-wrap: wrap;
    }
}

@keyframes slide-in-right {
    0% {
        -webkit-transform: translateX(1000px);
        transform: translateX(1000px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}