body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Impede a rolagem horizontal */
}

.produtosPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 0;
}

.banner {
  position: relative;
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e0e0e0;
  margin-bottom: 20px;
  overflow: hidden;
}

.bannerImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.bannerContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #333;
  padding: 20px;
  z-index: 3;
}

.bannerContent h1 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.bannerContent p {
  font-size: 1rem;
  margin-bottom: 20px;
}

.discountButton {
  background-color: #ff6f61;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  z-index: 3;
}

.discountButton:hover {
  background-color: #ff5a4f;
}

.criancasImage {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 600px; /* Define um tamanho fixo para desktops */
  height: auto;
  z-index: 2;
  opacity: 0.8;
}

.cadernoImage {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 400px; /* Define um tamanho fixo para desktops */
  height: auto;
  z-index: 2;
  opacity: 0.8;
}

.produtosContainer {
  display: flex;
  justify-content: space-between;
  margin: 40px 0;
  width: 100%;
  padding: 0 20px; /* Certifique-se de que o padding não cause overflow */
  gap: 40px;
  box-sizing: border-box; /* Inclui padding e margens na largura total */
}

.produtos {
  flex: 1;
  box-sizing: border-box;
}

.produtoGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  justify-items: center;
  width: 100%; /* Garante que a grade dos produtos ocupe 100% da largura */
}

@media (max-width: 1200px) {
  .produtoGrid {
    grid-template-columns: repeat(2, 1fr); /* 2 colunas para telas menores */
  }

  .banner {
    height: 300px;
  }

  .bannerContent h1 {
    font-size: 1.5rem;
  }

  .bannerContent p {
    font-size: 0.9rem; 
  }

  .discountButton {
    padding: 8px 16px; 
    font-size: 0.9rem; 
  }

  .criancasImage,
  .cadernoImage {
    width: 300px;
  }
}

@media (max-width: 768px) {
  .produtoGrid {
    grid-template-columns: 1fr;
  }

  .banner {
    height: 200px; 
  }

  .bannerContent h1 {
    font-size: 1.2rem; 
  }

  .bannerContent p {
    font-size: 0.8rem; 
  }

  .discountButton {
    padding: 6px 12px; 
    font-size: 0.8rem; 
  }

  .criancasImage,
  .cadernoImage {
    width: 200px;
  }
}
