.main-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.carrossel-principal{
    width: 100%;
    height: 70vh;

}

.carrossel-principal img{
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

.banner{
    width: 60%;
    padding-top: 10PX;
    margin-top: 10px;
}

@media screen and (max-width: 480px){
    .carrossel-principal{
        height: 300px;
    }
}